<h1>Goodbye!!!</h1>
<p>
  E' stato bello averti qui! vieni a trovarci prossimamente!
</p>

<p>
<!-- Say <a href="/say/hello">Hello</a>! -->
Lo vuoi già rifare??? Dimmi <%= link_to "Hello", say_hello_path %> di nuovo!
</p>