<html>
<head>
	<title>Hello, Rails!</title>
</head>
<body>
	<h1>Benvenuto da Mika!</h1> 
	<p>Sei qui in questo tempo: <%= @time %> </p>
	<p>
		Ed è una bellissima giornata. Come che ne so? fuori non c'è il sole? piove? ma non in quel senso! <br>
		<br>
		Nel senso che hai cliccato su questa pagina web.<br>
		<br>
		Perché tu "vedi" solo una semplice pagina web con del testo e delle stupidaggine scritte... invece no.<br>
		<br>
		Non lo è.<br>
		<br>
		E' un portale: una porta verso un nuovo mondo. <br>
		<br>
		Di cosa sto parlando? Easy. <br>
		<br>
		Per realizzare questa semplice pagina web ho dovuto imparare delle nuove cose... e sono cose "meravigliose"! Increbili e soprattutto funzionali! <br>
		<br>
		Io ora te le dico, poi se vuoi, le vediamo insieme!<br>
		<br>
		<ul>
			<li>Git
			<li>Github
			<li>PostgreSQL
			<li>Heroku
			<li>Ruby
			<li>Rails
		</ul>
	<br>	
	</p>
	<p>
	  Come? è il tempo di salutarmi? Ooookkkkk! 
	  <%= link_to "Goodbye", say_goodbye_path %>!
	</p>

</body>
</html>
